header.header
    .header__column
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(ref=routes.join) Join
            li
                a(ref=routes.login) Log In