doctype html

html
    head
        //- 주석 단축키 : 컨트롤 + /
        //- 폰트어썸 구글링 //
        //- main에 block content는...뭐 여기에 스겠다? 지정하는 거라고 함 //
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer