extends layouts/main

block content
    p Change Password
    .form__container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="old password")
            input(type="password", name="newPassword", placeholder="new password")
            input(type="password", name="newPassword", placeholder="new password2")
            input(type="submit", name="change password")